/**********************************
        MAIN SECTION STYLINGS
***********************************/
main {
display: grid;
grid-template-rows: 1fr;
grid-template-columns: 270px 1fr;
grid-gap: 15px;
margin-bottom: 100px;

    .genreHowTo {
        width: 270px;
        height: calc(260px * 2 + 15px);
        background-color: $primeColorOpaque;
        border-radius: 4px;
        grid-column: 1/2;
        color: white;
        padding: 15px;

        h4{
            font-family: $titleFont;
            font-size: 1.75rem;
            margin-bottom: 15px;
        }

        label{
            font-family:  $copyFont;
            display: block;
        }

        select {
            margin-top: 5px;
            width: calc(250px - 50px);
            font-size: 0.8rem;
        }
    }
}

/**********************************
        "HOW TO USE" STYLINGS
***********************************/
aside {
    margin-top: 15px;
    font-size: 0.8rem; 
    
    h5 {
        font-family: $titleFont;
        font-size: 1rem;
    }

    ol {
        list-style-type: decimal;
        margin-top: 5px;
        list-style-position: inside;

        li {
            margin-top: 10px;
            letter-spacing: 1px;
            line-height: 1.1;
            font-weight: 300;
            font-family:  $copyFont;
        }
    }
}

/**********************************
    GAME POPUP BOX STYLINGS
***********************************/
.popupBox {
    position: fixed;
    top: 100px;
    width: calc(100% - 40%);
    margin: 0 20%;
    background-color: white;
    border-radius: 4px;
    box-shadow: 5px 5px 10px black;
    overflow: auto;
    font-family: $copyFont;
    max-height: 80%;
    .popupDescription, .popupMeta {
        padding: 10px;
    }

    .popupDescription {
        p {
            margin-top: 10px;
        }
    
        br {
            line-height: 1.5rem;
        }
    
        h3 {
            margin-top: 10px;
            font-size: 20px;
        }
    }
    
    .popupHeader {
        height: 200px;
        border-radius: 4px 4px 0 0;
        background-size: cover;
        position: relative;
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        background-color: rgb(110, 138, 184);

        .closePopup {
            background-color: $primeColorTransparent;
            border: none;
            position: absolute;
            width: 36px;
            height: 36px;
            top: 8px;
            right: 8px;
        
            i {
                font-size: 1.5rem;
                color: white;
            }
            
            &:hover, &:focus {
                transform: scale(1.03);
                background-color: $primeColorOpaque;
            }
            
            &:focus {
                border: 3px solid red;
            }
        }
    }
    
    .popupHeader ul {
        margin: 0 8px 8px 0; 
        color: white;
        padding: 8px;
        background-color: $primeColorTransparent;
    
        li {
            display: inline;
    
            i {
                margin: 0 3px;
            }
        }
    }
}